services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: musicsite_app:latest
    container_name: music_website_SAM_apache
    ports:
      - "8080:80"
      - "5173:5173"
    volumes:
      - ./:/var/www/html
      - ./storage:/var/www/html/storage
      - ./vendor:/var/www/html/vendor
    depends_on:
      - db
    networks:
      - appnet

  db:
    image: mysql:8.0
    container_name: music_website_SAM_db
    restart: always
    environment:
      MYSQL_DATABASE: SAM_mysql
      MYSQL_USER: dumitru
      MYSQL_PASSWORD: 3412760
      MYSQL_ROOT_PASSWORD: 34127600
    ports:
      - "3315:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - appnet

volumes:
  db_data:

networks:
  appnet:
    driver: bridge
